.photo-grid {
  margin: auto;
  box-sizing: border-box;
  padding-top: 92px;
  max-width: calc(100% - 48px*2);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
}

@media screen and (max-width: 1282px) {
  .photo-grid {    
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  }
}

@media screen and (max-width: 1024px) {
  .photo-grid {    
    --horizontal-m: calc(48px - 24*((1024px - 100%)/(1024 - 768)));
    max-width: calc(100% - 2*var(--horizontal-m));
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    --horizontal-m: calc(24px - 16*((768px - 100%)/(768 - 425)));
    max-width: calc(100% - 2*var(--horizontal-m));
    gap: 28px;
    padding-top: 89px;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    max-width: calc(100% - 16px*2);
    gap: 12px;
    padding-top: 64px;
  }  
}