.places {
  margin: auto;
  padding-top: 92px;
  box-sizing: border-box;
  max-width: calc(1280px - 2*148px);
}

@media screen and (max-width: 1280px) {
  .places{
    --horizontal-m: calc(148px - 100*((1280px - 100%)/(1280 - 1024)));
    max-width: calc(100% - 2*var(--horizontal-m));
  }
}

@media screen and (max-width: 1024px) {
  .places{
    --horizontal-m: calc(48px - 24*((1024px - 100%)/(1024 - 768)));
    max-width: calc(100% - 2*var(--horizontal-m));
    /* ... */
    padding-top: 92px;
  }
}

@media screen and (max-width: 768px) {
  .places{
    --horizontal-m: calc(24px - 24*((768px - 100%)/(768 - 425)));
    max-width: calc(100% - 2*var(--horizontal-m));
    /* ... */
    padding-top: 88px;
  }
}

@media screen and (max-width: 425px) {
  .places{
    padding-top: 65px;
    max-width: 100%;
  }
}