.intro__list {
  font-family: Inter-number, Inter, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff;
  font-size:  12px;
  line-height: 18px;
}

@media screen and (max-width: 425px) {
  .intro__list {
    width: 300px;
  }
}