.cover__subtitle {
  margin: auto;
  width: 360px;
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  position: relative;
  z-index: 4;
  display: block;
}


@media screen and (max-width: 425px) {
  .cover__subtitle {
    width: 260px;
    font-size: 14px;
    line-height: 16px;
  }
}