.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-align: right;
  margin-left: auto;
}

@media screen and (max-width: 650px) {
  .footer__copyright {
    margin: 14px 0 16px 15px;
    line-height: 14px;
    text-align: end;
  }
}