.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-align: right;
  margin-left: auto;
}

@media screen and (max-width: 425px) {
  .footer__copyright {
    margin: 24 0 16px 24px;
  }
}