.intro {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  margin-left: 148px;
  width: 690px;
  padding-top: 98px;
}



@media screen and (max-width: 1280px) {
  .intro{
    padding-top: 92px;
    margin-left: calc(148px - 100*((1280px - 100%)/(1280 - 1024)));
  }
}

@media screen and (max-width: 1024px) {
  .intro{
    padding-top: 92px;
    margin-left: calc(48px - 24*((1024px - 100%)/(1024 - 768)));
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding-top: 88px;
    max-width: 95%;
    margin-left: calc(24px - 8*((768px - 100%)/(768 - 425)));
  }
}

@media screen and (max-width: 425px) {
  .intro{
    padding-top: 64px;
    width: 288px;
    margin-left: 16px;
    overflow: hidden;
  }
}
