.lead__caption {
  align-self: flex-start;
  color: #fff;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 400;
  margin: 8px 0 0;
  text-align: left;
}

@media screen and (max-width: 780px) {
  .lead__caption {
    margin: 8px 0 0 24px;
  }
}


@media screen and (max-width: 425px) {
  .lead__caption {
    margin: 8px 0 0 16px;
  }
}